/* Definí algunas variables de CSS para los valores comunes */
:root {
    --font-family: 'Roboto', sans-serif;
    --font-size: 18px;
    --font-weight: 300;
    --color-primary: #333333;
    --color-secondary: #0066cc;
    --color-tertiary: #0099ff;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #f0f0f0;
    --shadow: 0 0 10px rgba(0,0,0,0.1);
    --space: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family); /* Usé la variable de la fuente */
    background-color: var(--color-gray); /* Usé la variable del color */
}
.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title {
    width: calc(100% - 120px);
    height: 100px;
    margin: 10px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary); /* Usé la variable del color */
}
/* .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-white); /* Usé la variable del color */
    box-shadow: var(--shadow); /* Usé la variable de la sombra */
  }



h1 {
    font-size: 2.5rem; /* Usé una unidad relativa para el tamaño de la fuente */
    font-weight: 700;
    color: var(--color-primary); /* Usé la variable del color */
    text-align: center;
    margin-bottom: var(--space); /* Usé la variable del espacio */
}

h2 {
    font-size: 2rem; /* Usé una unidad relativa para el tamaño de la fuente */
    font-weight: 700;
    color: var(--color-primary); /* Usé la variable del color */
    text-align: center;
    margin-top: var(--space); /* Usé la variable del espacio */
    margin-bottom: var(--space); /* Usé la variable del espacio */
}
h3 {
    font-size: 1.5rem; /* Usé una unidad relativa para el tamaño de la fuente */
    font-weight: 700;
    color: var(--color-primary); /* Usé la variable del color */
    margin-top: var(--space); /* Usé la variable del espacio */
    margin-bottom: var(--space); /* Usé la variable del espacio */
}
p {
    font-size: var(--font-size); /* Usé la variable del tamaño de la fuente */
    font-weight: var(--font-weight); /* Usé la variable del grosor de la fuente */
    color: var(--color-primary); /* Usé la variable del color */
    line-height: 1.5;
    margin-bottom: var(--space); /* Usé la variable del espacio */
}
a {
    font-size: var(--font-size); /* Usé la variable del tamaño de la fuente */
    font-weight: 400;
    color: var(--color-secondary); /* Usé la variable del color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: var(--space); /* Usé la variable del espacio */
}
li {
    font-size: var(--font-size); /* Usé la variable del tamaño de la fuente */
    font-weight: var(--font-weight); /* Usé la variable del grosor de la fuente */
    color: var(--color-primary); /* Usé la variable del color */
    margin-bottom: 5px;
}
.video {
    width: 100%;
    height: 450px;
    margin-bottom: var(--space); /* Usé la variable del espacio */
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/* .button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3333ff;
    color: var(--color-white); /* Usé la variable del color */
    font-size: 16px;
    cursor: pointer;
  }
.btn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--color-secondary); /* Usé la variable del color */
    color: var(--color-white); /* Usé la variable del color */
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--color-tertiary); /* Usé la variable del color */
}
footer {
    width: 100%;
    height: 100px;
    background-color: var(--color-primary); /* Usé la variable del color */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social {
    width: 200px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social a {
    color: var(--color-white); /* Usé la variable del color */
    font-size: 24px;
}
.social a:hover {
    color: var(--color-tertiary); /* Usé la variable del color */
}
.copy {
    width: 300px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.copy p {
    color: var(--color-white); /* Usé la variable del color */
    font-size: 14px;
    font-weight: 300;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.space {
    margin-bottom: 50px;
}
.fab {
    color: whitesmoke;
}

/* Añadí algunos media queries para hacer el diseño adaptable */
@media (max-width: 768px) {
    .logo {
        width: 80px;
        height: 80px;
    }
    .title {
        width: calc(100% - 100px);
    }
    .title h1 {
        font-size: 24px;
    }
    .container {
        width: 90%;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    p {
        font-size: 16px;
    }
    a {
        font-size: 16px;
    }
    li {
        font-size: 16px;
    }
    .video {
        height: 300px;
    }
    .button {
        font-size: 14px;
    }
    .btn {
        width: 150px;
        height: 30px;
        font-size: 14px;
    }
    footer {
        height: 80px;
    }
}
@media (max-width: 480px) { /* Para pantallas menores o iguales a 480px de ancho */
    .logo {
        width: 60px; /* Reduje más el tamaño del logo */
        height: 60px; /* Reduje más el tamaño del logo */
    }
    .title {
        width: calc(100% - 80px); /* Ajusté más el ancho del título */
    }
    .title h1 {
        font-size: 18px; /* Reduje más el tamaño de la fuente del título */
    }
    .container {
        width: 95%; /* Aumenté más el ancho del contenedor */
    }
    h1 {
        font-size: 1.5rem; /* Reduje más el tamaño de la fuente del encabezado principal */
    }
    h2 {
        font-size: 1.2rem; /* Reduje más el tamaño de la fuente de los subtítulos */
    }
    h3 {
        font-size: 1rem; /* Reduje más el tamaño de la fuente de los subtítulos */
    }
    p {
        font-size: 14px; /* Reduje más el tamaño de la fuente de los párrafos */
    }
    a {
        font-size: 14px; /* Reduje más el tamaño de la fuente de los enlaces */
    }
    li {
        font-size: 14px; /* Reduje más el tamaño de la fuente de las listas */
    }
    .video {
        height: 200px; /* Reduje más el alto del vídeo */
    }
    .button {
        font-size: 12px; /* Reduje más el tamaño de la fuente de los botones */
    }
    .btn {
        width: 100px; /* Reduje más el ancho de los botones */
        height: 20px; /* Reduje más el alto de los botones */
        font-size: 12px; /* Reduje más el tamaño de la fuente de los botones */
    }
    footer {
        height: 60px; /* Reduje más el alto del pie de página */
    }
}


